body {
    background-color: #001f3f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#prime-container {
    text-align: center;
}

#prime-number {
    font-size: 10em;
}
